.containerDe {
    color: aliceblue;
    padding-top: 3rem;
}
.contInfo{
    display: flex;
    justify-content:space-around;
    position: relative;
    right: 4rem;
    
}
.contInfo img {
    border-radius: 75%;
    border: solid 5px  ;
    color: #7fff009e;
}
.contH1 {
    color: #1d1723;
    background-color: #50a122ab;
    border-radius: 20px;
    padding: 1rem;
}
.boton {
    background-color: darkorange;
    height: 2.5rem;
    width: 6rem;
    font-size: 1.2rem;
    border-radius: 10px;
    position: absolute;
    right: 2rem;
  
}
.boton :hover{
    transform: scale(1.1);
    color: azure;
} 