.continer{
    margin-top: 8%;
    color: aquamarine;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem
}

.continer div{
    width: 30%;
    border-radius: 30px;
    backdrop-filter: blur(30px);
    padding: 1rem;
}
